name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
  uses: actions/setup-java@v3
  with:
    java-version: '25'


      - name: Make Maven wrapper executable
        run: chmod +x mvnw

      - name: Build and Test with Maven
        run: ./mvnw clean install -DskipTests=false
